# Requirements of the python code

numpy<=1.26.4
pandas
pytest
seaborn
yfinance
kaleido

-e git+https://cef502682eb29f54a8abad426b22657989f24252:x-oauth-basic@github.com/aeqcap/aeqlib.git#egg=aeqlib
-e git+https://cef502682eb29f54a8abad426b22657989f24252:x-oauth-basic@github.com/aeqcap/aeqviz.git#egg=aeqviz
-e git+https://cef502682eb29f54a8abad426b22657989f24252:x-oauth-basic@github.com/aeqcap/allocation.git#egg=allocation
-e git+https://cef502682eb29f54a8abad426b22657989f24252:x-oauth-basic@github.com/aeqcap/esg.git#egg=esg
-e git+https://cef502682eb29f54a8abad426b22657989f24252:x-oauth-basic@github.com/aeqcap/aeq-sensitivities.git#egg=aeq-sensitivities
-e git+https://cef502682eb29f54a8abad426b22657989f24252:x-oauth-basic@github.com/aeqcap/aeqtrends.git#egg=aeqtrends
-e git+https://cef502682eb29f54a8abad426b22657989f24252:x-oauth-basic@github.com/aeqcap/factor_h.git#egg=factor_h
-e git+https://cef502682eb29f54a8abad426b22657989f24252:x-oauth-basic@github.com/aeqcap/perf_contrib.git#egg=perf_contrib
-e git+https://cef502682eb29f54a8abad426b22657989f24252:x-oauth-basic@github.com/aeqcap/binary_premia.git#egg=binary_premia
