# Requirements of the python code
numpy<=1.26.4
pandas
pytest
seaborn
yfinance
# kaleido==0.1.0.post1
statsmodels
scipy
plotly
pandas_datareader

-e git+https://d6ab5d33c1ac475d1388095f6326ab01f9bd0ae1:x-oauth-basic@github.com/aeqcap/aeqlib.git#egg=aeqlib